<po-page-edit
  p-title="Cadastro de Usuários"
  (p-cancel)="cancelar()"
  (p-save)="salvar()"
  [p-disable-submit]="formulario?.invalid || false">

  <form #formulario="ngForm">
    <div class="po-row">
      <po-input 
        class="po-md-4" 
        name="nome *" 
        [(ngModel)]="usuario.nome" 
        p-label="Nome" 
        p-required> 
      </po-input>
    </div>

  </form>
</po-page-edit>
