<po-page-edit
  p-title="Cadastro de Tarefas"
  (p-cancel)="cancelar()"
  (p-save)="salvar()"
  [p-disable-submit]="formulario?.invalid || false">

  <form #formulario="ngForm">
    <div class="po-row">
      <po-input 
        class="po-md-4" 
        name="titulo" 
        [(ngModel)]="tarefa.titulo" 
        p-label="Título *" 
        p-required> 
      </po-input>

      <po-select 
        class="po-md-4"
        name="status"
        p-field-label="descricao"
        p-field-value="codigo"
        [(ngModel)]="tarefa.cdStatusTarefa"
        p-label="Status da Tarefa" 
        [p-options]="statusLista">
      </po-select>
    </div>

    <div class="po-row">
      <po-input 
        class="po-md-8" 
        name="descricao" 
        [(ngModel)]="tarefa.descricao" 
        p-label="Descricao"> 
      </po-input>
    </div>

    <div class="po-row">
      <po-multiselect
        class="po-md-8"
        name="usuarios"
        p-label="Responsáveis"
        [(ngModel)]="tarefa.cdUsuarioTarefas"
        [p-options]="usuariosLista">
      </po-multiselect>
    </div>

    <div class="po-row">
      <po-datepicker 
        class="po-md-4" 
        name="dataCriacao" 
        [(ngModel)]="tarefa.dataCriacao" 
        p-label="Data de Criação">
      </po-datepicker>

      <po-datepicker 
        class="po-md-4" 
        name="dataFinalizacao" 
        [(ngModel)]="tarefa.dataFinalizacao" 
        p-label="Data de Finalização">
      </po-datepicker>
    </div>

  </form>
</po-page-edit>
