<po-page-list 
  p-title="Lista de Tarefas" 
  [p-actions]="actions"
  [p-filter]="filtro">

  <po-table
    [p-columns]="columns"
    p-container="true"
    [p-actions]="tableActions"
    [p-loading]="carregando"
    [p-items]="tarefas"
    [p-height]="400"
    [p-sort]="true"
    [p-striped]="true">
  </po-table>

</po-page-list>

<po-modal #modalFiltro p-title="Filtro por Status" [p-primary-action]="filtrarStatus">
  <form #f="ngForm">
    <po-select 
      class="po-md-4"
      name="status"
      p-field-label="descricao"
      p-field-value="codigo"
      [(ngModel)]="filtroStatus"
      p-label="Status da Tarefa" 
      [p-options]="stateOptions">
    </po-select>
  </form>
</po-modal>

<po-modal #modalUsuarios p-title="Usuários">
  <div class="po-row">
    <po-info class="po-lg-12" p-label="Responsáveis" [p-value]="nomeUsuarios"> </po-info>
  </div>
</po-modal>